<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.chenyangsocool.ssm.dao.ServantDao">

    <resultMap id="BaseResultMap" type="com.chenyangsocool.ssm.model.ServantItem">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="class_type" property="classType" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name, nickname, class_type
    </sql>

    <select id="getServants" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from servants
        where id = #{id,jdbcType=INTEGER}
    </select>

</mapper>

